<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="phone-images">
      <h1>Detail information about user {{user.name}}</h1>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8">
    <hr>
    <ul class="specs list-unstyled">
      <li>
        <span>Name</span>
        <dl>
          <dt>{{user.name}}</dt>
        </dl>
      </li>
      <li>
        <span>Email</span>
        <dl>
          <dt>{{user.email}}</dt>
        </dl>
      </li>
      <li>
        <span>Phone number</span>
        <dl>
          <dt>{{user.telephone}}</dt>
        </dl>
      </li>
      <li>
        <span>Address</span>
        <dl>
          <dt>{{user.address}}</dt>
        </dl>
      </li>
      <li>
        <span>Street</span>
        <dl>
          <dt>{{user.street}}</dt>
        </dl>
      </li>
      <li>
        <span>City</span>
        <dl>
          <dt>{{user.city}}</dt>
        </dl>
      </li>
      <li>
        <span>State</span>
        <dl>
          <dt>{{user.state}}</dt>
        </dl>
      </li>
      <li>
        <span>Zip code</span>
        <dl>
          <dt>{{user.zip}}</dt>
        </dl>
      </li>
    </ul>
  </div>
</div>